#bod {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.clr {
    background-color: #1d2630;
    color: #fff;
}

#logstatus {
    margin: 0px 30px 0px 30px;
}

.navbar ul {
    width: 20%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

table tr {
    border-bottom: 1px solid #3f3e3e;
}